<!doctype html>
<html>
    <head>
        <title>List Of Querries</title>
    </head>
    <body>
        <div>
            <h2>List Of Querries</h2>
        </div>
        <p><a href="/mentors">Mentors and schools page</a></p>
        <p><a href="/all-schools">All school page</a></p>
        <p><a href="/mentors-by-country">Mentors by country page</a></p>
        <p><a href="/contacts">Contacts page</a></p>
        <p><a href="/applicants">Applicants page</a></p>
        <p><a href="/applicants-and-mentors">Applicants and mentors page</a></p>
    </body>
</html>